
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.root {
	padding: 2vw;
	background-image :url('https://www.uia-initiative.eu/sites/default/files/styles/full_page/public/2017-09/Air%20Quality%20-%20veeterzy-Unsplash.jpg?itok=U7WAPwS_');
    background-repeat: no-repeat;
    background-size: cover;
	width: 100%;
	height: 100%;
    font-family: 'Poppins', sans-serif;
	min-height: 100vh;
}

.heading {
	text-align: center;
	font-family: 'Fira Code', monospace;
	font-size: 2.5rem;
	margin-bottom: 60px;
	text-decoration: underline;
}

.sub-heading {
	margin: 20px 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 3rem;
}

.location-container {
	margin: 40px 0;
}

.loc-input {
    display: flex;
    width: 200px;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 30px;
    margin: 5px 0;
    border: 3px solid rgb(255, 252, 252);
}

.loc-input:invalid {
	border: 3px solid #180909;
}

.search-btn {
	padding: 10px 14px;
	background-color: rgb(23, 21, 21);
	border: none;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 1rem;
	border-radius: 4px;
	color: #fff;    
	margin: 20px;
	cursor: pointer;
}

.air-quality, .arr, .air-quality-status {
	font-size: 4rem;
	font-weight: 500;
}

.component-names {
	display: inline-block;
}

.component-container div {
	margin: 10px 0;
}

.component-val {
	font-size: 1.2rem;
	margin-left: 20px;
}

.footer {
	margin-top: 40px;
	text-align: center;
	color: #0a151b;
}

.temp {
	color: #1d34b8;
}